{
    "singleQuote": false,
    "trailingComma": "none",
    "requirePragma": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "proseWrap": "preserve",
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 200
            }
        }
    ]
}
