#ackn-page {
    .ackn-header {
        background-color: #222;
        padding: 16px;
        width: 100%;
        height: 30%;
        text-align: center;
    }

    .ackn-header img {
        max-height: 100%;
    }

    .ackn-info p {
        color: var(--ion-color-dark);
        text-align: left;
    }

    .ackn-info ion-icon {
        margin-inline-end: 32px;
    }

    .ios .ackn-info {
        text-align: center;
    }
}
